<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body style="font-family: sans-serif">
  <div style="display: block; margin: auto; max-width: 600px" class="main">
    <h1 style="font-size: 18px; font-weight: bold; margin-top: 20px">
      Olá, {{nome}}! Seu pedido foi efetuado com sucesso!
    </h1>
    <p>
      O seu pedido foi registrado com êxito em nosso sistema e foi gerado o
      número #{{numeroPedido}} para acompanhar o seu pedido.
    </p>
    <p>O valor total é de {{valorTotal}}</p>
    <br />

    <p>Obrigado por escolher os serviços do Clube das Winx.</p>
    <p>Qualquer dúvida, entre em contato conosco.</p>
  </div>

  <style>
    .main {
      background-color: white;
    }

    a:hover {
      border-left-width: 1em;
      min-height: 2em;
    }
  </style>
</body>

</html>
`;